<?php
use Product\AffiliateSales\Block\Display;

$product = $this->getAffiliateProducts();
$getTrackingcode = $this->getTrackingcode();
$getUrl = $this->getUrl();
$getSku = '';
$getCommisionTitle = $this->getCommisionTitle();
$rewards = $this->getRewards($getTrackingcode);
$salesrule = $this->getSalesRule();

?>
<body>
    <div class="aff-main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="affiliate-page-title">
            <h1><?php echo __('PRODUCTS AND LINKS')?></h1>
        </div>
        <p><?php echo __('Please fill in one of the links from our store such as: product URL, category URL or other page\'s URL into the text box below:') ?></p>
        <div class="form-group">
            <form name="form" id="myForm" action="" method="POST">
                <label>Place Product Link Here:</label>
                <input type="text" class="form-control" id="affiliate-product-link" name="affiliate-product-link"
                       style="margin-bottom: 20px;" />
                <label>Place Product Sku Here:</label>
                <input type="text" class="form-control" id="affiliate-product-sku" name="affiliate-product-sku"
                       style="margin-bottom: 20px;" />
                <label>Current Rank:</label>
                <?php if ($rewards <= 100){ ?>
                    <input id="affiliate-product-campaign" name="affiliate-product-campaign" readonly type="text" value="Tier-1" style="margin-bottom: 20px;" />
                <?php } elseif($rewards > 100 && $rewards <= 150) {  ?>
                    <input id="affiliate-product-campaign" name="affiliate-product-campaign" readonly type="text" value="Tier-2" style="margin-bottom: 20px;" />
                <?php } elseif($rewards > 150 && $reward <= 300) { ?>
                    <input id="affiliate-product-campaign" name="affiliate-product-campaign" readonly type="text" value="Tier-3" style="margin-bottom: 20px;" />
                <?php } ?>
                <button type="submit" name="btnSubmit" class="button button-config action primary"
                        title="<?php echo __('Get Affiliate Link'); ?>" style="margin-bottom: 20px;">
                    <span><?php echo __('Get Link'); ?></span>
                </button>

            </form>
        </div>
        <div class="form-group">
            <p><?php echo __('Receive a unique affiliate link:'); ?></p>

            <?php if (isset($_SESSION["url"])) { ?>
                <a id="getAffLink" href="<?php echo $_SESSION["url"] ?>"><?php echo $_SESSION["url"] ?>"</a><br>
            <?php } else { ?>
                <a id="getAffLink">Try to generate a unique link</a><br>
            <?php } ?>

            <p>Commission Rate of the Affiliates are based on the number of their affiliated transactions
            and reward points. To increase the commission rate the affiliates must reach a certain amount
            of reward points.<br><br>

            <div class="affiliate-page-title">
                <h1><?php echo __('COMMISSION RATES')?></h1>
            </div>
                Reward Points : <b>25 = 15%</b> Commission on every orders<br>
                Reward Points : <b>45 = 20%</b> Commission on every orders<br>
                Reward Points : <b>75 = 25%</b> Commission on every orders
            </p>

            <a id="getSku" href="<?php $getSku ?>"><?php echo $getSku ?></a>
        </div><br>
        <div id="productslist">
            <div class="affiliate-page-title">
                <h1><?php echo __('AFFILIATE PRODUCTS')?></h1>
            </div>
            <table class="table table-striped" id="test-data-table">
                <thead class="">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Link</th>
                        <th></th>
                        <th scope="col">Product Sku</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($product as $product): ?>
                        <tr>
                            <td><?php echo $product->getId(); ?></td>
                            <td><?php echo $product->getTitle(); ?></td>
                            <td><input id="product-link" type="text" value="<?php echo $product->getAffiliateProductLink(); ?>" style="width: 400px;" /></td>
                            <td><button class="primary" onclick="myFunction()" >Copy</button></td>
                            <td><?php echo $product->getProductSku(); ?></td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <br>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom" style="display: flex"><br><?php echo $block->getPagerHtml(); ?></div>
            <?php endif ?>
            <?php
                echo "<pre>";
                var_dump($salesrule);
            ?>
        </div>
    </div>

    <?php
    if ($_SERVER['REQUEST_METHOD'] === 'POST') { //check if something posted
        if (isset($_SESSION["url"])) {
            unset($_SESSION["url"]);
        }
        if (isset($_POST['btnSubmit'])) {


            $url = $_POST['affiliate-product-link'];
            $commissiontype = $_POST['affiliate-product-campaign'];
            $uniquelink = $url . '?code=' . $getTrackingcode;
            $_SESSION["url"] = $uniquelink;
            $block->setAffiliateSku($getTrackingcode, $_POST['affiliate-product-sku'], $commissiontype);
        }
    }
    ?>

    <script>
        function myFunction() {
            var copyText = document.getElementById("product-link");
            copyText.select();
            document.execCommand("copy");
            alert("Copied the text: " + copyText.value);
        }
    </script>
</body>

