<?php
/**
 * @var Display $block
 */

use Product\AffiliateSales\Block\Display;

$transactions = $this->getTransactionOrders();
$commissionsum = $this->getCommissionSum();
$getTrackingcode = $this->getTrackingcode();
$rewards = $this->getRewards($getTrackingcode);
$withdrawals = $this->getWithdrawals();
?>
<style>
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px 10px;
        margin-left: -6px;
    }

    .labels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cell-label {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
    }

    .cell {
        color: white;
        text-align: center;
        width: 90%;
        font-size: 25px;
        padding: 20px;
        font-weight: bold;
    }

    .cell-1 {
        background: yellowgreen;
    }

    .cell-2 {
        background: orangered;
    }

    .cell-3 {
        background: royalblue;
    }
</style>
<body>
<div class="aff-main-content col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="affiliate-page-title">
        <h1><?php echo __('TRANSACTIONS') ?></h1>
    </div>
    <div id="transactionslist">
        <table class="data table" id="test-data-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Tracking Code</th>
                <th>Product Sku</th>
                <th>Description</th>
                <th>Date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Commission Total</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($transactions as $item): ?>
                <tr>
                    <td><?php echo $item->getId(); ?></td>
                    <td><?php echo $item->getTrackingcode(); ?></td>
                    <td><?php echo $item->getSku(); ?></td>
                    <td><?php echo $item->getDescription(); ?></td>
                    <td><?php echo $item->getDate(); ?></td>
                    <td><?php echo _('$') . $item->getPrice(); ?></td>
                    <td><?php echo $item->getQuantity(); ?></td>
                    <td><?php echo _('$') . $item->getComissiontotal(); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"
                 style="display: flex"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
        <?php foreach ($commissionsum as $total): ?>
            <b><?php echo __('Total Commisson: $') . $total->getCommisionRate() ?></b>
        <?php endforeach; ?><br><br>
        <div class="affiliate-page-title">
            <h1><?php echo __('WITHDRAWALS') ?></h1>
        </div>
        <div class="labels">
            <label class="cell-label">Reward Points</label>
            <label class="cell-label">Total Commission</label>
            <label class="cell-label">Total Paid</label>
        </div>
        <div class="container">
            <div class="cell cell-1">
                <?php foreach ($commissionsum as $total): ?>
                    <?php echo $total->getRewardPoints() ?>
                <?php endforeach; ?>
            </div>
            <div class="cell cell-2">
                <?php foreach ($commissionsum as $total): ?>
                    <?php echo __('$') . $total->getCommisionRate() ?>
                <?php endforeach; ?>
            </div>
            <div class="cell cell-3">
                $200.00
            </div>
        </div>

        <table class="data table" id="test-data-table" style="margin-top: -150px;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Request Date</th>
                <th>Amount</th>
                <th>Withdraw Method</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($withdrawals as $item): ?>
                <tr>
                    <td><?php echo $item->getId(); ?></td>
                    <td><?php echo $item->getRequestDate(); ?></td>
                    <td><?php echo $item->getAmount(); ?></td>
                    <td><?php echo $item->getWithdrawMethod(); ?></td>
                    <td><?php echo $item->getStatus(); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
</body>
